@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap");

@font-face {
  font-family: AtypDisplay;
  src: url(/public/fonts/AtypDisplay-Medium.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1570px;
  padding: 0 20px;
  margin: 0 auto;
}

#hero {
  background-image: url("./assets/herobg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper {
  width: 100%;
  height: 100%;
}

.ReactCollapse--collapse {
  transition: height 500ms;
}

.company {
  background-image: url("./assets//Ellipse.png");
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: bottom;
}
.company::before {
  content: url("./assets/Ellipse2.png");
  position: absolute;
  top: 0;
  left: 0;
}

.services {
  background-image: url("./assets/servisebg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.companypage {
  background-image: url("./assets/Companybg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.price {
  background-image: url("./assets/pricebg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.accordion {
  background-image: url("./assets/acorEx.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70% 100%;
  /* background-size: 85% 100%; */
  /* padding: 20px 0 50px;
  margin: 0px 0 30px; */
}

@media only screen and (min-width: 1140px) {
  .card_bg {
    background-image: url("./assets/Ellipse\ 379.png");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
    z-index: 0;
    bottom: 0;
    top: 0;
    left: 0;
  }
  .card_bg1 {
    background-image: url("./assets/Ellipse\ 379.png");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
    z-index: 0;
  }
}

@media only screen and (min-width: 768px) {
  .form {
    background-image: url("./assets/formbg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
