@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap");

@font-face {
  font-family: AtypDisplay;
  src: url(/public/fonts/AtypDisplay-Medium.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1570px;
  padding: 0 20px;
  margin: 0 auto;
}
#question1 {
  scroll-margin-top: 20px;
  scroll-behavior: auto;
}

.swiper {
  width: 100%;
  height: 100%;
}

.ReactCollapse--collapse {
  transition: height 500ms;
}

.company {
  background-image: url("./assets//Ellipse.png");
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: bottom;
}
.company::before {
  content: url("./assets/Ellipse2.png");
  position: absolute;
  top: 0;
  left: 0;
}

.services {
  background-image: url("./assets/servisebg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.companypage {
  background-image: url("./assets/Companybg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.price {
  background-image: url("./assets/pricebg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.accordion {
  background-image: url("./assets/acorEx.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70% 100%;
}

/* .card {
  position: relative;
  width: 100%;
  height: 250px;
  background: #fff;
  overflow: hidden;
}
.box {
  position: absolute;
  inset: 10px;
  background-color: aqua;
  border-radius: 10px;
} */

/* .icon {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: #fff;
  bottom: 0;
  right: 0;
  border-top-left-radius: 30px;
} */

.icon::before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  top: -30px;
  right: 0px;
  background: transparent;
  border-bottom-right-radius: 30px;
  box-shadow: 5px 5px 0px 5px #fff;
}
.icon::after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  left: -30px;
  bottom: 0px;
  background: transparent;
  border-bottom-right-radius: 30px;
  box-shadow: 5px 5px 0px 5px #fff;
}

@media only screen and (min-width: 1140px) {
  .card_bg {
    background-image: url("./assets/Ellipse\ 379.png");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
    z-index: 0;
    bottom: 0;
    top: 0;
    left: 0;
  }
  .card_bg1 {
    background-image: url("./assets/Ellipse\ 379.png");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
    z-index: 0;
  }
}

@media only screen and (min-width: 768px) {
  .form {
    background-image: url("./assets/formbg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media only screen and (max-width: 768px) {
  .icon::before {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    top: -30px;
    right: 0px;
    background: transparent;
    border-bottom-right-radius: 15px;
    box-shadow: 5px 5px 0px 5px #fff;
  }
  .icon::after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    left: -30px;
    bottom: 0px;
    background: transparent;
    border-bottom-right-radius: 15px;
    box-shadow: 5px 5px 0px 5px #fff;
  }
}
